.ava-holder-editpage
    position: relative
    width: 100vw
    height: 55vh
    img
      width: 100%
      max-width: 500px
      height: 55vh
      left: 50%
      transform: translate(-50%, -50%)
      object-fit: cover
.edt-input
    box-sizing: border-box
    padding-left: 10px
    width: 90%
    margin-top: 20px
    margin-left: 5%
    height: 30px
.sbmt-btn
    width: 90%
    font-weight: bold
    height: 30px
    background: linear-gradient(to top, #8fcff1, #80c9f0)
    border: 2px solid #73c2ee
    margin-top: 30px
    margin-left: 5%
