.header
    display: grid
    background-color: #80c9f0
    grid-template-columns: 50% 50%
    height: 40px
.menu-item
    box-sizing: border-box
    text-align: center
    padding-top: 10px
    padding-bottom: 5px
    font-weight: bold
    &:hover
        background-color: #63bded
.selected
    border-bottom: 3px solid blue
