.contact-card
    display: grid
    margin-top: 15px
    margin-left: 10px
    margin-right: 10px
    border-radius: 20px
    border: 1px solid #b4b4b4
    background-color: white
    grid-template-columns: 70px calc( 100% - 70px )
    .ava-wrapper
        img
            margin: 5px 5px 5px 5px
            border-radius: 60px
            width: 60px
            height: 60px
    .fullname-label
        font-weight: bold
    .number-label
